PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "Products" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_Products" PRIMARY KEY AUTOINCREMENT,

    "Name" TEXT NOT NULL,

    "Description" TEXT NOT NULL,

    "Price" TEXT NOT NULL,

    "CostPrice" TEXT NOT NULL,

    "StockQuantity" INTEGER NOT NULL,

    "VendorId" INTEGER NOT NULL,

    "ImageUrl" TEXT NULL,

    "CreatedAt" TEXT NOT NULL,

    "IsActive" INTEGER NOT NULL

);
INSERT INTO Products VALUES(1,'لابتوب احترافي للبرمجة','لابتوب عالي الأداء للمبرمجين والمصممين، معالج Intel i9، ذاكرة 32 جيجابايت، شاشة 4K.','1299.99','950.0',20,1,'/images/products/laptop.jpg','2026-07-23 14:53:09',1);
INSERT INTO Products VALUES(2,'برنامج تصميم جرافيكي','برنامج احترافي لتصميم الجرافيك والرسوميات ثلاثية الأبعاد، إصدار 2025.','149.99','75.0',30,1,'/images/products/book.jpg','2026-07-23 14:53:09',1);
INSERT INTO Products VALUES(3,'أداة تحليل البيانات','أداة متقدمة لتحليل البيانات وإنشاء التقارير التفاعلية مع دعم الذكاء الاصطناعي.','249.99','120.0',15,1,'/images/products/laptop.jpg','2026-07-23 14:53:09',1);
COMMIT;
